<!DOCTYPE html>
<html lang="ru">

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css">
    <title> Добавить рейс </title>
</head>

<body>
    <div class="body-content">
        <div class="header-buttons">
            <a href="/" class="header-button">Главная страница</a>

        </div>

        <div class="clients-list">
            <a>Данные нового рейса </a>
        </div>

        <form action="/routes/postAddRoute" method="POST" class="add-route-form">
            <label for="STRcity-select"
                style=" font-family: 'Poiret One';font-size:18px; font-weight:bold;">Откуда</label><br />
            <select name="STRcity" id="STRcity-select" class="input-field">
                <option value="0">Выберите город</option>
                {{#each Cities}}
                <option value="{{this.city}}">{{this.rusName}}</option>
                {{/each}}
            </select> <br />

            <label style=" font-family: 'Poiret One';font-size:18px; font-weight:bold;">Дата отбытия
                (год-месяц-день)</label><br>
            <input type="date" name="STRtime" class="input-field" /><br>

            <label for="ARRcity-select"
                style=" font-family: 'Poiret One';font-size:18px; font-weight:bold;">Куда</label><br />
            <select name="ARRcity" id="ARRcity-select" class="input-field">
                <option value="0">Выберите город</option>
                {{#each Cities}}
                <option value="{{this.city}}">{{this.rusName}}</option>
                {{/each}}
            </select> <br />

            <label style=" font-family: 'Poiret One'; font-size:18px; font-weight:bold;">Дата прибытия
                (год-месяц-день)</label><br>
            <input type="date" name="ARRtime" class="input-field" /><br>

            <label style=" font-family: 'Poiret One';font-size:18px; font-weight:bold;">Цена</label><br>
            <input name="price" type="number" class="input-field" /><br>

            <label style=" font-family: 'Poiret One';font-size:18px; font-weight:bold;">Количество мест</label><br>
            <input name="seats" type="number" class="input-field" /><br>

            <input type="submit" value="Отправить" class="submit-button"
                style=" font-family: 'Poiret One';font-size:18px; font-weight:bold;" />
        </form>



    </div>
</body>


<footer class="footer" style="margin-bottom:-30px;">
    <p>&copy; 2025 Авиасервис. Все права защищены. (кроме женских) </p>
</footer>

</html>

/**/