<!DOCTYPE html>
<html lang="ru">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    
    <title>Авиабилеты</title>
    <link rel="stylesheet" href="/css/style.css">
    <title> Покупка авиабилетов  </title>
</head>


<body>
 <div class="body-content">
    <div class="header-buttons">
      
        <a href="/clients" class="header-button">Список клиентов</a>
    </div>

    <div class="clients-list">
  <a>Редактирование данных клиента </a>
</div>
<form action="/clients/postEditClient" method="POST" class="edit-client-form">
    <input type="hidden" name="clientId" value="{{client.clientId}}" />

    <label for="clientName" style="font-family: 'Poiret One';font-size:18px; font-weight:bold;">Имя</label><br>
    <input name="clientName" id="clientName" value="{{client.clientName}}" /><br>

    <label for="email" style="font-family: 'Poiret One';font-size:18px; font-weight:bold;">Почта</label><br>
    <input name="email" id="email" value="{{client.email}}" type="email" /><br>

    <label for="phone" style="font-family: 'Poiret One';font-size:18px; font-weight:bold;">Телефон</label><br>
    <input name="phone" id="phone" value="{{client.phone}}" type="tel" /><br><br>

    <input type="submit" value="Отправить" class="submit-btn" style="font-family: 'Poiret One';font-size:18px; font-weight:bold;"/>
</form>
</div>
       
</body>

<footer class="footer">
    <p>&copy; 2025 Авиасервис. Все права защищены. (кроме женских) </p>
</footer>


</html>


