<html>
<head>
    <title> Курсовая работа по базам данных </title>
</head>

<body>
    <p>
        <h2> Услуги нашего сервиса:</h2>
        - просмотр билетов на предстоящие рейсы, <br />
        - выбор маршрутов в корзину, <br />
        - оформление покупки, <br />
        - просмотр истории продаж.
    </p>

    Авторы: студенты 3 курса группы 2221121  <br />
    Сикорский Александр Артемович и Сафина Ангелина Маратовна<br />

    <a href="/">На главную</a>
</body>
</html>
