<html>
<head>
    <title> Курсовая работа по базам данных </title>
    <link rel="stylesheet" href="./views/home/style.css">
</head>

<body>
    <div style="color:red; font-size:2rem;">

        <p>
            <h2> Услуги нашего сервиса:</h2>
            - просмотр билетов на предстоящие рейсы, <br />
            - выбор маршрутов в корзину, <br />
            - оформление покупки, <br />
            - просмотр истории продаж.
        </p>

        Авторы: студенты 3 курса группы 2221121  <br />
        Сикорский Александр Артемович и Сафина Ангелина Маратовна<br />

        <a href="/">На главную</a>
    </div>
    
</body>
</html>
