<!DOCTYPE html>
<html lang="ru">

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css">
    <title> О сервисе </title>
</head>

<body>
    <div class="body-content">
        <div class="header-buttons">
            <a href="/" class="header-button">Главная страница</a>


        </div>

        <div class="about">
            <h2>Услуги нашего сервиса:</h2>
            <ul>
                <li>Просмотр билетов на предстоящие рейсы</li>
                <li>Выбор маршрутов в корзину</li>
                <li>Оформление покупки</li>
                <li>Просмотр истории продаж</li>

            </ul>

            <p><strong>Авторы:</strong> студенты 3 курса группы 2221121</p>
            <p><strong>Сикорский Александр Артемович и Сафина Ангелина Маратовна</strong></p>
            <p><em>Ангелиночка самая лучшая любимая красивая, а Саша скрытный любитель сгущенки </em></p>
        </div>
    </div>

</body>

<footer class="footer">
    <p>&copy; 2025 Авиасервис. Все права защищены. (кроме женских) </p>
</footer>

</html>