<html>

<head>

    <title>Авиабилеты</title>

</head>

<body>

    <h2>Добро пожаловать в наш сервис бронирования авиабилетов!</h2>
    <ul>
        <li><a href="/routes">Поиск авиабилетов</a></li>

        <li><a href="/clients">Клиенты</a></li>
        <li><a href="/about">О нашем сервисе</a></li>
    </ul>

</body>

</html>